<!--The content below is only a placeholder and can be replaced.-->


<!-- <ul>
  <li>
    <h2>
      <a [routerLink]="['page-one']">
        About
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a [routerLink]="['page-two']">
       Page Two
      </a>
    </h2>
  </li>
</ul> -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="home"><h3> Welcome to {{ title }}  </h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="songs">Songs</a>
      <a class="nav-link" routerLink="about">About</a>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
